In [1]:
import visualize_wealth
import visualize_wealth.construct_portfolio as vwcp
import pandas

Let's use the `static_allocation` provided in the `panel from weight
file.xlsx` workbook

In [92]:
f = pandas.ExcelFile('test_data/panel from weight file test.xlsx')
#static_alloc = f.parse('static_allocation_arsinha', index_col = 0, header_col = 0)
static_alloc = f.parse('allocation1', index_col = 0, header_col = 0)

Again, assume we don't have the prices and need to donwload them, use
the `fetch_data_for_initial_allocation_method`

In [93]:
price_panel = vwcp.fetch_data_for_initial_allocation_method(static_alloc)

Construct the `panel` for the portoflio while determining the desired
rebalance frequency

In [94]:
panel = vwcp.panel_from_initial_weights(weight_series = static_alloc, price_panel = price_panel, rebal_frequency = 'quarterly')

Construct the final portfolio with columns `['Open', 'Close']`

In [95]:
portfolio = vwcp.pfp_from_weight_file(panel)

Take a look at the portfolio series:

In [96]:
portfolio.head()

                  Close         Open
Date
2000-01-03  1000.000000  1019.338204
2000-01-04   960.893853   986.892677
2000-01-05   962.612798   962.183060
2000-01-06   947.142243   960.034379
2000-01-07  1002.148682   964.761488

In [97]:
portfolio

                  Close         Open
Date
2000-01-03  1000.000000  1019.338204
2000-01-04   960.893853   986.892677
2000-01-05   962.612798   962.183060
2000-01-06   947.142243   960.034379
2000-01-07  1002.148682   964.761488
2000-01-10  1005.586591  1005.586591
2000-01-11   993.553927  1002.578422
2000-01-12   983.669953   994.198215
2000-01-13   996.991827   993.338739
2000-01-14  1010.528255  1007.520090
2000-01-18  1002.578427   999.355077
2000-01-19  1010.743446   999.140524
2000-01-20   995.272882  1010.528259
2000-01-21   993.124190  1000.429734
2000-01-24   964.976044  1001.503762
2000-01-25   975.934671   966.157922
2000-01-26   968.199399   969.488612
2000-01-27   964.331753   975.289752
2000-01-28   934.250106   958.745164
2000-01-31   959.604634   933.820363
2000-02-01   969.058871   960.893852
2000-02-02   969.918344   971.422110
2000-02-03   984.529436   968.629135
2000-02-04   980.446608   984.529434
2000-02-07   978.942844   980.232058
2000-02-08   992.264718   989.900843
2000-02-09   971.422117   993.338748
2000-02-10   973.356244   973.785982
2000-02-11   953.588307   975.289752
2000-02-14   959.174898   961.108402
...                 ...          ...
2017-02-10  2187.661447  2182.842232
2017-02-13  2199.567952  2193.047755
2017-02-14  2208.355955  2197.583496
2017-02-15  2219.884391  2205.993567
2017-02-16  2217.994519  2220.167874
2017-02-17  2221.490796  2210.718338
2017-02-21  2234.720231  2225.554174
2017-02-22  2232.735766  2230.278934
2017-02-23  2234.247730  2238.405553
2017-02-24  2237.082613  2224.987229
2017-02-27  2240.578900  2236.137600
2017-02-28  2234.531196  2236.421074
2017-03-01  2265.809129  2252.674277
2017-03-02  2251.540393  2263.730235
2017-03-03  2252.957764  2250.595380
2017-03-06  2246.248676  2244.264208
2017-03-07  2239.539437  2242.941278
2017-03-08  2235.381624  2242.752241
2017-03-09  2238.216508  2236.704545
2017-03-10  2246.059642  2248.705502
2017-03-13  2247.193536  2245.398096
2017-03-14  2238.594435  2241.240295
2017-03-15  2257.966004  2244.831162
2017-03-16  2253.524706  2259.477960
2017-03-17  2249.567118  2256.400390
2017-03-20  2247.099598  2249.567118
2017-03-21  2218.247967  2253.743019
2017-03-22  2223.467849  2218.627669
2017-03-23  2221.095188  2223.467849
2017-03-24  2219.481798  2224.416970

[4334 rows x 2 columns]

In [99]:
import datetime
from datetime import date

def get_dt_object(obj):
    timestamp = "{}".format(obj)
    dt1 = datetime.datetime.strptime(timestamp, "%Y-%m-%d %H:%M:%S")
    print(dt1)
    return dt1

def get_time_in_year(portfolio):
    start_date = get_dt_object(portfolio.iloc[0].name)
    end_date = get_dt_object(portfolio.iloc[-1].name)
    return (end_date - start_date).days/365

def compute_avg_annual_return_rate(portfolio):
    initial_fund = portfolio.iloc[0,]['Open']
    final_fund = portfolio.iloc[-1,]['Close']
    years = get_time_in_year(portfolio)
    avg_gain_per_year = (final_fund - initial_fund) / years
    print("start-date: {}, end-date: {}, ".format(start_date, end_date))
    print("initial-fund: {}, final-fund: {}".format(initial_fund, final_fund))
    print ("Average annual rate of return: {}".format(avg_gain_per_year * 100 / initial_fund))

compute_avg_annual_return_rate(portfolio)

2000-01-03 00:00:00
2017-03-24 00:00:00
start-date: 2013-08-15 00:00:00, end-date: 2017-03-24 00:00:00,
initial-fund: 1019.3382036957455, final-fund: 2219.481797981072
Average annual rate of return: 6.832145851871553