In [1]:
import visualize_wealth
import visualize_wealth.construct_portfolio as vwcp
import pandas

Let's use the `static_allocation` provided in the `panel from weight
file.xlsx` workbook

In [24]:
f = pandas.ExcelFile('test_data/panel from weight file test.xlsx')
static_alloc = f.parse('static_allocation_arsinha', index_col = 0, header_col = 0)

Again, assume we don't have the prices and need to donwload them, use
the `fetch_data_for_initial_allocation_method`

In [25]:
price_panel = vwcp.fetch_data_for_initial_allocation_method(static_alloc)

Construct the `panel` for the portoflio while determining the desired
rebalance frequency

In [26]:
panel = vwcp.panel_from_initial_weights(weight_series = static_alloc, price_panel = price_panel, rebal_frequency = 'quarterly')

Construct the final portfolio with columns `['Open', 'Close']`

In [27]:
portfolio = vwcp.pfp_from_weight_file(panel)

Take a look at the portfolio series:

In [28]:
portfolio.head()

                  Close         Open
Date
2013-08-15  1000.000000  1001.691331
2013-08-16   997.035091  1002.110437
2013-08-19   987.847817   994.971873
2013-08-20   991.122052   987.937897
2013-08-21   981.312676   986.961156

In [29]:
portfolio

                  Close         Open
Date
2013-08-15  1000.000000  1001.691331
2013-08-16   997.035091  1002.110437
2013-08-19   987.847817   994.971873
2013-08-20   991.122052   987.937897
2013-08-21   981.312676   986.961156
2013-08-22   989.168023   985.655602
2013-08-23   995.849765   992.785480
2013-08-26   990.686985   995.428831
2013-08-27   976.079787   981.089612
2013-08-28   976.686228   975.115474
2013-08-29   978.376539   977.775490
2013-08-30   974.556511   979.806542
2013-09-03   981.997217   987.145055
2013-09-04   989.660123   982.887338
2013-09-05   989.851955   989.244924
2013-09-06   995.612450   996.439103
2013-09-09  1010.079627  1001.444792
2013-09-10  1017.424396  1015.745873
2013-09-11  1019.991691  1016.319157
2013-09-12  1015.289723  1018.601238
2013-09-13  1018.633275  1017.413170
2013-09-16  1026.147176  1030.026510
2013-09-17  1027.772547  1029.194113
2013-09-18  1051.118300  1027.779632
2013-09-19  1048.416709  1052.779250
2013-09-20  1037.411900  1047.586212
2013-09-23  1036.424635  1037.110833
2013-09-24  1033.662349  1036.340191
2013-09-25  1032.541891  1034.628625
2013-09-26  1035.674721  1035.379173
...                 ...          ...
2017-02-10  1218.061119  1213.906085
2017-02-13  1221.869287  1220.766611
2017-02-14  1222.939504  1221.250594
2017-02-15  1227.511103  1220.655832
2017-02-16  1228.412398  1228.253649
2017-02-17  1226.053246  1223.312664
2017-02-21  1233.181642  1228.178623
2017-02-22  1233.325622  1230.989736
2017-02-23  1235.180498  1237.694456
2017-02-24  1230.825374  1227.425270
2017-02-27  1230.883972  1229.597159
2017-02-28  1226.943659  1230.129585
2017-03-01  1237.877491  1232.993179
2017-03-02  1227.811479  1233.338981
2017-03-03  1231.777598  1229.044908
2017-03-06  1228.669407  1229.363761
2017-03-07  1225.952462  1227.464494
2017-03-08  1219.203962  1224.873495
2017-03-09  1217.307968  1219.353906
2017-03-10  1223.714413  1224.032264
2017-03-13  1228.431376  1226.607774
2017-03-14  1222.684093  1224.077412
2017-03-15  1239.971199  1226.105681
2017-03-16  1243.243885  1244.435911
2017-03-17  1243.903782  1244.934179
2017-03-20  1244.886408  1245.317786
2017-03-21  1235.132422  1250.218308
2017-03-22  1237.085777  1233.872899
2017-03-23  1238.894183  1235.904627
2017-03-24  1240.434874  1240.519626

[909 rows x 2 columns]

In [35]:
from datetime import date
a = date(2017,3,24)
b = date(2013,8,15)
(a-b).days/365

3.6082191780821917

In [37]:
ret_per_year=(1240.43-1000)/3.61

In [38]:
ret_per_year*100/1000

6.660110803324102